extends _includes/_layout.pug

block content
  section.hero
    h2 ようこそ！
    p これはトップページのコンテンツです。

  article.latest-news
    h3 最新情報
    ul
      li ニュース1
      li ニュース2

block scripts
  script(src="/js/index.js")
